<% action = goal.persisted? ? goal_url(goal) : goals_url %>
<% submit_button = goal.persisted? ? "Create" : "Save changes" %>

<form action="<%= action %>" method="post">

  <input type="hidden" name="authenticity_token"
                      value="<%= form_authenticity_token %>">

  <% if goal.persisted? %>
  <input type="hidden" name="_method" value="put">
  <% end %>

  <label for="goal_title">Title</label>
  <input type="text" id="goal_title" name="goal[title]"
                                    value="<%= goal.title %>">

  <label for="goal_description">Description</label>
  <textarea id="goal_description" name="goal[description]"><%= goal.description %></textarea>

  <input type="submit" name="commit" value="<%= submit_button %>">
</form>